/** CSS Main**/

body {
    background-color: #efefef;
}

div.main-container {    
    width: 1800px;
    min-width: 900px;
    height: auto;
    margin: 30px;
}


header.main-header {
    width: auto;
    height: 150px;
    background-color: #393939;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

/** MAIN CSS **/


div.card-header {
    width: auto;
    height: 70px;
    background-color: #393939; 
    border-bottom: 3px solid black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.header-h2 {
    width: 900px;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 10px;
    border-radius: 0px 100px 100px 0px;
}

div.card-content { 
    background-color: white; 
    padding: 10px;
    border-bottom: 3px solid black;
    margin: 5px 0px 0px 0px; 
}