/** CSS BODY **/
body {
    background-color: #e9e9e9;
    background-image: url(images/background.png);
    background-repeat: repeat-y;
    font-family: Arial, Helvetica, sans-serif;    
}

/** CSS Main Container **/
div.main-container {    
    width: auto;
    height: auto;
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
}

/** CSS HEADER **/
header.main-header {
    width: auto;
    height: 150px;
    margin: 0px 0px 10px 0px;
    background-color: #393939;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

em {
    font-size: 0.5em;
    font-style: normal;
}

div.div-h1-header {
    
    margin: 0px 0px 0px -10px;
}

div.div-h3-header {
    margin: 10px 0px 0px -10px;
}

h1 {
    width: 55%;
    min-width: 450px;
    font-size: 2em;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 8px;
    border-radius: 0px 100px 100px 0px;
}

h3.main-h3-header {
    width: 35%;
    min-width: 300px;
    font-size: 1em;
    color: #393939d7;
    background-color: #c5c5c5;
    margin: 10px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

/** CSS NAV-HEADER **/
nav.nav-header {
    width: auto;
    height: 50px;
    color: white;
    background-color: #393939;  
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    margin: 0px 0px 10px 0px; 
}

ul.nav-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

li.nav-header:hover {
    color: #f2931b;
    border-bottom: 3px solid black;
}

/** CSS MAIN **/
/** CSS HEADER H2 **/
div.card.card1 {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

div.card-header {
    width: auto;
    height: 50px;
    background-color: #393939; 
    border-bottom: 3px solid black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.header-h2 {
    font-size: 1em;
    width: 55%;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

h2.header-h2b {
    font-size: 1em;
    width: 60%;
    color: #393939d7;
    background-color:#c5c5c5;
    margin: 0px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

/** ABOUTME **/
div.aboutme {
    width: 100%;
    margin: 0px 0px 10px 0px;
}

div.card-content { 
    width: 100%;    
    margin: 0px 0px 0px 0px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;        
}

div.card-content-left {
    background-color: white;
    width: 350px;
    min-width: 330px;
    margin: 0px 10px 0px 0px;
    padding: 20px 0px 20px 20px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.content-left-left{
    width: 50%;
}

button.download {
    width: 150px;
    text-transform: uppercase;
    margin: 10px 0px 0px 0px;
    cursor: pointer;
    background-color: #393939d7;
    border: none;
    padding: 7px 5px 5px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.download:hover {
    background-color: #f2911b;    
}

div.content-left-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;  
    
}

p.pleft-right {
    margin: 25px 0px 15px 25px;
}

div.card-content-center {
    background-color: white;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}

article {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h4 {
    font-size: 2em;
    text-align: center;
    color: black;
    margin: 0px;
}
strong {
    color: #f2931b;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    margin: 0px 0px 20px 0px;
    color: rgba(0, 0, 0, 0.582);
}

p {
    padding: 0px 0px px 0px;
    margin: 0px;
}

div.card-content-right {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: center;
    align-items: center; 
}

/** CSS FOOTER**/
div.main-footer {
    width: 100%;
    height: 100px;
    background-color: white;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid black; 
}

div.competence {
    display: flex;
    flex-direction: row;
    align-items: center;      
}

div.img-competence {
    margin-right: 10px;        
}

img.img-competence {
    width: 50px;
    height: 50px;
    margin: 0px;
}

div.pull-competence {
    width: 140px;
    height: 35px;
    background-color:#39393991;
    border-radius: 10px;
}

div.taux-competence1 {
    background-color: #f2931b;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence2 {
    background-color: #f2931b;
    width: 70%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence3 {
    background-color: #f2931b;
    width: 20%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence4 {
    background-color: #f2931b;
    width: 5%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence5 {
    background-color: #f2931b;
    width: 10%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence6 {
    background-color: #f2931b;
    width: 15%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence7 {
    background-color: #f2931b;
    width: 60%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence8 {
    background-color: #f2931b;
    width: 90%;
    height: 35px;
    border-radius: 10px;
}

/** CSS FORMATION EXPERIENCE**/
div.form-card3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.card3 {
    font-size: 1em;
    background-color: white;
    margin: 0px 0px 10px 0px;
    width: 400px;
    height: 250px;
    border-bottom: 3px solid black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}
div.card3:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2),
                0px 10px 15px rgba(0, 0, 0, 0.2);
}

h5.h5-card3 {
    font-size: 1.3em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin: 30px 0px 0px 0px;
}
h6.h6-card3 {
    font-size: 1.2;
    text-align: center;
    color: rgba(0, 0, 0, 0.747);
    text-transform: uppercase;
    margin: 5px 0px 25px 0px;
}

p.p-card3 {
    text-align: center;
    margin: 0px;
}



/** CSS MEDIA QUERIES **/ 
/** MEDIA QUERIES 468PX**/
@media screen and (max-width: 468px) {
    div.main-container {
        max-width: 468px;
        height: auto;    
    }

    header.main-header {
        width: 370px;
        height: 150px;
        } 

    h1 {        
        min-width: 300px;
        font-size: 1em;
    }

    em {
        font-size: 0.8em;        
    }

    h3.main-h3-header {
        min-width: 250px;
        font-size: 0.7em;

    }

    nav.nav-header {
        width: 370px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-between;
        margin: 0px 0px 10px 0px;  
    }

    ul.nav-header{
        margin: 0px 20px 0px 0px;
    }
    
    div.card-header {
        width: 370px;
    }
    h2.header-h2 {
        min-width: 300px;
        font-size: 0.8em;
    }
    div.card-content {
        flex-direction: column;
    }

    div.card-content-right {
        justify-content: stretch;
        margin: 0px 0px 02px 60px;
        background-color: white;
    }
    div.content-right {
        background-color: white;
        
    }

    div.card-content-center {
        width: 350px;
    }

    div.main-footer {
        width: 350px;
        height: auto;
        flex-direction: column;
        padding: 10px;
    }

    div.pull-competence {
        width: 260px;
        height: 35px;
        background-color:#39393991;
        border-radius: 10px;
        padding: 0px -30px 0px 0px;
    }

    div.form-card3 {
        flex-direction: column;
    }
    
    div.card3 {
        width: 370px;
    }