/** CSS Main**/

body {
    background-color: #efefef;
}

div.main-container {    
    width: 1800px;
    min-width: 900px;
    height: auto;
    margin: 30px;
}


header.main-header {
    width: auto;
    height: 150px;
    background-color: #393939;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;

}

/** CSS NAV **/

nav {
    width: auto;
    height: 50px;
    color: white;
    background-color: #393939;  
    border-bottom: 3px solid black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;    
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

li:hover {
    color: #f2931b;
    border-bottom: 3px solid black;
}