/** CSS BODY **/
body {
    background-color: #e9e9e9;
    background-image: url(images/background.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 33px;
}

/** CSS Main Container **/
div.main-container {    
    width: 1700px;
    min-width: 900px;
    height: auto;
    margin: 40px 0px 0px 30px;
}

/** CSS HEADER **/
header.main-header {
    width: auto;
    height: 150px;
    background-color: #393939;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

div.div-h1-header {
    
    margin: 0px 0px 0px -10px;
}

div.div-h3-header {
    margin: 10px 0px 0px -10px;
}

h1 {
    width: 900px;
    font-size: 2em;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 8px;
    border-radius: 0px 100px 100px 0px;
}

h3.main-h3-header {
    width: 600px;
    font-size: 1em;
    color: #393939d7;
    background-color: #c5c5c5;
    margin: 10px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

/** CSS NAV **/
nav.nav-header {
    width: auto;
    height: 50px;
    color: white;
    background-color: #393939;  
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;   
}

nav.nav-info {
    width: auto;
    height: 30px;
    color:black;
    margin: 10px 0px 0px 0px;
    text-transform: uppercase;
    font-weight: bold;
    }

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style-type: none;
}

li:hover {
    color: #f2931b;
    border-bottom: 3px solid black;
}

ul.ul-info {

}

li.li-info{
    list-style-type: none;
}

li.li-info:hover {
    color: #f2931b;
    border-bottom: 3px solid black;
}

/** CSS MAIN **/
/** ABOUTME & HOBIT**/
div.aboutandhobit {
    width: auto;
    display: flex;
    flex-direction: row;
}

div.card.card1 {
    width: auto;
    margin: 15px 7.5px 10px 0px;
}

div.card-header {
    width: auto;
    height: 50px;
    background-color: #393939; 
    border-bottom: 3px solid black;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.header-h2 {
    font-size: 1em;
    width: 60%;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

h2.header-h2b {
    font-size: 1em;
    width: 60%;
    color: #393939d7;
    background-color:#c5c5c5;
    margin: 0px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}

div.card-content { 
    width: auto;
    background-color: #efefef; 
    margin: 10px 0px 0px 0px;
    border-bottom: 3px solid black;    
    display: flex;
    flex-direction: row;    
}

div.card-content-left {
    background-color: white;
    padding: 20px 25px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download {
    width: 150px;
    text-transform: uppercase;
    margin: 18px 0px 2px 0px;
    cursor: pointer;
    background-color: #393939d7;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    transition: all 0.2s;
}

.download:hover {
    background-color: #f2911b;    
}

div.card-content-right {    
    background-color: white;
    padding: 20px;
    margin: 0px 0px 0px 10px;
}
article {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

h4 {
    font-size: 2em;
    text-align: center;
    color: black;
    margin: 0px;
}
strong {
    color: #f2931b;
    text-transform: uppercase;
}

h5 {
    text-align: center;
    margin: 0px 0px 10px 0px;
    color: rgba(0, 0, 0, 0.582);
}

p {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

div.card.card2 {
    max-width: 300px;
    margin: 15px 0px 10px 7.5px;
}

div.card-content2 { 
    width: auto;
    background-color: white; 
    margin: 10px 0px 0px 0px;
    padding: 20px;
    border-bottom: 3px solid black;
    display: flex;     
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

article.art-content2 {
    font-size: 1.5em;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

/** FORMATION **/
div.form-card3 {
    display: flex;
    flex-direction: row;
}

div.card3 {
    font-size: 1em;
    background-color: white;
    margin: 15px;
    width: 400px;
    height: 250px;
    border-bottom: 3px solid black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}
div.card3:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2),
                0px 10px 15px rgba(0, 0, 0, 0.2);
}

h5.h5-card3 {
    font-size: 1.3em;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin: 30px 0px 0px 0px;
}

h6.h6-card3 {
    font-size: 1.2;
    text-align: center;
    color: rgba(0, 0, 0, 0.747);
    text-transform: uppercase;
    margin: 5px 0px 25px 0px;
}

p.p-card3 {
    text-align: center;
    margin: 0px;
}

div.test2 {
    display: flex;
    flex-direction: row;
}

/** CSS FOOTER**/
div.main-footer {
    width: auto;
    height: 150px;
    background-color: white;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid black; 
}

div.competence {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.img-competence {
    margin-right: 10px;        
}

img.img-competence {
    width: 50px;
    height: 50px;
    margin: 0px;
}

div.pull-competence {
    width: 140px;
    height: 35px;
    background-color:#39393991;
    border-radius: 10px;
}

div.taux-competence1 {
    background-color: #f2931b;
    width: 80%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence2 {
    background-color: #f2931b;
    width: 70%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence3 {
    background-color: #f2931b;
    width: 20%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence4 {
    background-color: #f2931b;
    width: 5%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence5 {
    background-color: #f2931b;
    width: 10%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence6 {
    background-color: #f2931b;
    width: 15%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence7 {
    background-color: #f2931b;
    width: 60%;
    height: 35px;
    border-radius: 10px;
}

div.taux-competence8 {
    background-color: #f2931b;
    width: 90%;
    height: 35px;
    border-radius: 10px;
}

/** CSS SVG**/
svg{
    width: 55px;
    height: 55px;
    padding: 16.00px 13.5px 13.4px 13.5px;
}

svg:hover {
    background-color: #f2931b;
    border-radius: 10px;
}

/**pour les téléphones**/
@media screen and (max-width: 468px) {
    .main-container {
        
    }

}