body {
    background-color: #efefef;
}

div.main-container {    
    width: 1800px;
    min-width: 900px;
    height: auto;
    margin: 30px;
}


header.main-header {
    width: auto;
    height: 150px;
    background-color: #393939;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3px solid black;
    text-transform: uppercase;

}

div.div-h1-header {
    margin: 0px 0px 0px -10px;
}

div.div-h3-header {
    margin: 10px 0px 0px -10px;
}


h1 {
    width: 900px;
    color: white;
    background-color: #f2931b;
    margin: 0px 0px 0px -10px;
    padding: 10px;
    border-radius: 0px 100px 100px 0px;
}

h3.main-h3-header {
    width: 600px;
    color: #393939d7;
    background-color: #c5c5c5;
    margin: 10px 0px 0px -10px;
    padding: 5px;
    border-radius: 0px 100px 100px 0px;
}