body {
    background-color: rgb(250, 250, 250);
    margin: 50px 0px 0px 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 
            0px 1px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    width: 1440px;
}

.main-container {
    width: auto;
    height: auto;    
    margin: 0px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
}

body:hover {
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.2),
                0px 10px 15px rgba(0, 0, 0, 0.2);
}

header {
    margin: 0px;
    padding: 0px;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    padding: 0px;
    
}

.header-photo {
    margin: 0px;
    padding: 4px 0px 0px 0px ;
}

img {
    border-radius: 30px 0px 0px 30px;

}

.header-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 150px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    background-image: url(images/font.jpg);
    background-size: cover;
    border-radius: 0px 30px 30px 0px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-size: 4em;
    margin: 20px 0px 0px 0px;
    padding: 0px;
}
h3 {
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.4em;
    margin: 0px;
    padding: 0px;
}

.bloc-section{
    width: auto;
}

h2 {
    color: white;
    text-transform: uppercase;
    background-color: black;
    background-image: url(images/font.jpg);
    background-size: cover;
    text-align: center;
    padding: 5px;
    margin: 25px 0px 0px 0px;
    border-radius: 10px 10px 0px 0px;

}

.art-cont {
    display: flex;
    flex-direction: row;

}

.left {
    width: 150px;
    text-align: center;
    background-color: rgb(214, 214, 214);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.right {
    background-color: rgb(214, 214, 214);
    padding: 10px;
    display: flex;
    flex-direction: column;    
}
